<div class="container">
    <fieldset>
        <legend>Pesquisado por:</legend>
        <input type="radio" value="Nome" id="Nome">Nome
        <input type="radio" value="Numero" id="Numero">Numero
    </fieldset>
    <br>

    <div class="row">
        <fieldset>
            <p class="text-primary">Filtro : Informe as iniciais do leitor a ser consultado</p>
            <input type="text" id="nome">
            <button type="button" class="btn btn-primary">Ok</button>
        </fieldset>
    </div>
    <br>

    <div class="row">
        <fieldset>
            <input type="radio" value="button" id="button">
            <p class="text-danger">Consultar por parte do nome informado</p>
        </fieldset>
        <br>
        <br>

        <button type="button" class="btn btn-success">Consultar</button>
        <button type="button" class="btn btn-danger">Fechar</button>
    </div>
</div>